.sectionTitle {
  display: block;
  width: 80%;
  margin: 50px auto;
  height: 100px;
}

/* props styling */
.black {
  color: black;
}
.green {
  color: green;
}
.white {
  color: white;
}
.small {
  font-size: 20px;
}
.medium {
  font-size: 30px;
}
.large {
  font-size: 50px;
  line-height: 60px;
}
.tiny {
  font-weight: normal;
}
.bold {
  font-weight: 550;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
