.mission {
  width: 100%;
  height: 700px;
  background-color: black;
  color: white;
}
@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 768px) {
  .mission {
    height: 500px;
  }
}
