.section1 {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 800px;
  padding: 100px;
  box-sizing: border-box;
  /* background-image: url(../../../../public/images/section1.jpg); */
  background-repeat: no-repeat;
}
.section1:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(3px);
  z-index: -1;
  background: rgba(0, 0, 0, 0.4);
}
.section1__container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.section1__subtitle {
  font-size: 60px;
  line-height: 70px;
  color: #b3fd71;
}
.section1__title {
  font-size: 24px;
  line-height: 30px;
  color: white;
}
.section1__undertext {
  font-size: 33px;
  line-height: 38px;
  color: #b3fd71;
}
@media screen and (max-width: 768px) {
  .section1 {
    padding: 50%;
  }
  .section1__container {
    width: 90%;
  }
  .section1__subtitle {
    font-size: 30px;
    line-height: 70px;
    color: #b3fd71;
  }
  .section1__title {
    font-size: 24px;
    line-height: 30px;
    color: white;
  }
  .section1__undertext {
    font-size: 33px;
    line-height: 38px;
    color: #b3fd71;
  }
}
