.toppage {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100vh;
  padding: 80px;
  box-sizing: border-box;
  background-image: url(../../../../public/images/hero.jpg);
  background-repeat: no-repeat;
}
.toppage:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(3px);
  z-index: -1;
  background: rgba(0, 0, 0, 0.6);
}
.container {
  width: 80%;
  margin: 0 auto;
}
.titleBox {
  width: 100%;
}
.title {
  font-size: 120px;
  color: #b3fd71;
}
.subBox {
  position: absolute;
  display: block;
  bottom: 200px;
}
.subtitle {
  margin: 0;
  font-size: 37px;
  line-height: 50px;
  color: #b3fd71;
}
.underBox {
  position: absolute;
  bottom: 200px;
  right: 200px;
  display: block;
  width: 300px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #b3fd71;
  text-align: center;
}
.boxtext {
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  color: #004a98;
}

@media screen and (max-width: 1280px) {
  .title {
    font-size: 60px;
  }
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 30px;
  }
}

/* scroll down bar styling */
.scrolldown4 {
  position: absolute;
  bottom: 1%;
  right: 50%;
  animation: arrowmove 1s ease-in-out infinite;
}

@keyframes arrowmove {
  0% {
    bottom: 1%;
  }
  50% {
    bottom: 3%;
  }
  100% {
    bottom: 1%;
  }
}
.scrolldown4 span {
  position: absolute;
  left: -20px;
  bottom: 10px;
  color: #b3fd71;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

.scrolldown4:before {
  content: '';
  position: absolute;
  bottom: 0;
  right: -6px;
  width: 1px;
  height: 20px;
  background: #b3fd71;
  transform: skewX(-31deg);
}

.scrolldown4:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1px;
  height: 50px;
  background: #b3fd71;
}
